[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/consul.d/cluster.hcl

[Service]
Type=notify
EnvironmentFile=/etc/hashistack.env
User=consul
Group=hashistack
ExecStart=/usr/bin/consul agent -config-dir=/etc/consul.d/ -datacenter $CONSUL_DATACENTER -encrypt $CONSUL_ENCRYPT_KEY -recursor $DNS_SERVER1 -recursor $DNS_SERVER2 $CONSUL_EXTRA_PARAM
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
