[Unit]
Description=Consul Template
Documentation=https://github.com/hashicorp/consul-template
Wants=network-online.target
After=network-online.target
ConditionDirectoryNotEmpty=/opt/hashistack/consul-template

[Service]
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/bin/consul-template -config /etc/consul-template.d/
KillMode=process
KillSignal=SIGINT
LimitNOFILE=infinity
LimitNPROC=infinity
Restart=on-failure
RestartSec=2
StartLimitBurst=3
TasksMax=infinity
User=root
Group=hashistack

[Install]
WantedBy=multi-user.target
